.post {
  background-color: #202020;
  border-radius: 0.5rem;
  color: white;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .post {
    width: 100% !important;
  }
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.postHeader .avatar {
  margin-right: 1rem;
}
.postHeader .name_time p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
}
.postHeader .name_time p:nth-of-type(2) {
  font-size: 0.8rem;

  opacity: 0.9;
}
.postHeader i {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.post__Content .caption {
  padding: 0rem 1rem 1rem 1.5rem;
  font-size: 1.2rem;
}
.post__Content img {
  object-fit: cover;
  width: 100%;
}

.post__icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}
.post__icnos_andLikeCount {
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.post__icon .icon {
  display: flex;
  align-items: center;
  color: rgb(221, 219, 219);
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.likes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.5rem;
}

.likes p span {
  margin-right: 0.3rem;
}
.post__icon .icon i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.post__icon .icon:hover {
  color: white;
  cursor: pointer;
}

.comments {
  max-height: 100px;
  overflow-y: scroll;
  margin-top: 0.5rem;
}
.comments::-webkit-scrollbar {
  width: 5px;
  background: linear-gradient(
    to top,
    transparent,
    rgb(75, 72, 72),
    transparent
  );
}
.comments::-webkit-scrollbar-thumb {
  background: rgba(63, 62, 62, 0.979);
  border-radius: 0.5px;
}
.comments .comment {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.comments .comment p:nth-of-type(1) {
  margin-right: 0.5rem;
  font-weight: 600;
}
.comments .comment p:nth-of-type(2) {
  font-size: 0.8rem;
  margin-left: 0.2rem;
  letter-spacing: 1px;
}
.comments .comment p:nth-of-type(3) {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
  color: rgb(182, 180, 180);
  font-size: 13px;
}
.comments .comment p:nth-of-type(3) span{
  height: 19px;
  width: 19px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.comments .comment p:nth-of-type(3) span:hover{
  color: white;
  background-color: rgba(238, 238, 238, 0.199);
  cursor: pointer;
}

.comment {
  margin-bottom: 5px;
}
.addPostForm {
  display: flex;
  margin: 0.9rem auto;
  border: 2px solid gray;
  outline: none;
  border-radius: 2rem;
  width: 95%;
  align-items: center;
}
.addPostForm > div {
  padding: 5px;
}
.addPostForm > .comment__post {
  width: 100%;
  margin: 0.5rem 1rem;
  border: none;
  font-size: 19px;
  background-color: #202020;
  color: white;
}
.addPostForm input:focus {
  outline: none;
}
.addPostForm button {
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
  height: fit-content;
  color: #eee;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  height: 30px;
  opacity: 0.8;
}
.addPostForm button:disabled {
  opacity: 0.3;
}

.addPostForm button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
